h1{ 
    font-style: italic;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color : rgb(37, 3, 37);
    display: flex;
    margin: 0;
    justify-content: center;
    color: antiquewhite;
   
}
    
    

.intitule{
    text-align: right;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    display:flex;
    flex-direction: row-reverse;
    margin:0.5em;
    padding: 0.5em;

}
.photoid{
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    padding: 0.5em;
}
h2{
    font-weight: bold;
    border:10px whitesmoke;
    font-size: 30px;
    color: antiquewhite;
    margin: 0.5em;
    padding: 0.5em;
}
.imageflottante{
    float: left;
    margin: 11px;
}
.dates{
    font-weight: bold;
    margin: 4%;
}
#nav{
    list-style-type:none;
    margin:0;
    padding:0;
    border:1px dotted pink;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    display:flex;
    justify-content:space-around;
    margin:0.5em;
    padding:0.5em;
    color:white;
    box-shadow:6px 6px 0px black;
    background-color: rgb(14, 4, 59);
}
#nav li{
    display: inline;
    list-style-position: outside;
    padding-left: 40px;
    border:1px solid pink;
    margin:0.5em;
    padding:0.5em;

}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(82, 82, 104)
    

}
.flex1{
    order: 1
}
p{
    color: blanchedalmond;
}

img{
    border-radius:50%;
}

